# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


project-diagram.drawio.xml
plan.txt

localhost-key.pem
localhost.pem

appointment-admin-nuxt.code-workspace
mcp.json
.claude

.continue
.vscode